html{
    font-size: 10px;
    background-color: rgb(63, 54, 54);

}
body {
    min-width: 400px;
    background-image: linear-gradient(rgb(250,214,149) rgb(250,162,162));
}
h1 {
   color:bisque;
   font-size: 4rem;
}
h2{
    font-size: 3rem;
    color: blanchedalmond;
}

p{
    font-size: 1.5rem;
    color: beige;
    letter-spacing: 3px;
}